*{
    padding: 0px;
    margin:0px;
}

.parent{
    height: 350px;
    width: 300px;
}

.iconDiv{
    border-bottom: 1px solid black;
    height: 80px;
    padding: 20px;

}
.iconDiv h1{
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 10px;
}

form{
    padding-top: 20px;
}

form .formGroup{
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
}

.formGroup input{
    width: 250px;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 50px;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid #747474;

}

.formGroup button,.parent >button{
    width: 254px;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 45px;
    outline: none;
    border: none;
    color: white;
    background-color: #007BFF;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.parent >button{
    width: 100px;
    
}

#errorSpan{
    margin-left: 24px;
    color: #DD263E;
    display: none;
    font-weight: 500;
}

.homePage{
    
    padding: 10px;
}
.welcome{
    text-align: center;
    margin: 5px;
}
.welcome h3{
    margin: 5px;
}
.accounts{
    text-align: center;
    margin: 5px;
    margin-top: 10px;
}
.accounts select{
    height: 45px;
    width: 250px;
    text-align: center;
    padding: 2px;
    border-radius: 5px;
}
option{
    /* height: 50px; */
    padding: 5px;

}

#exitBtn{
    background-color: #DD263E;
    
}