#environment
myenv/
env/
venv/
.env
aTenv/

#Python
*.log
*.pot
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
*.pyo
*.pyc
*.pyo
*.pyd
*.pyw
*.zip

#django
/migrations/
*.sqlite3

# System files
.DS_Store
Thumbs.db